@model ChakisTicketTracking1.Models.Tech

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>

    <h4>@Html.DisplayFor(model => model.FirstMidName) @Html.DisplayFor(model => model.LastName)</h4>

    <hr />

    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Assignments)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Request</th>
                    <th>Date Completed</th>
                    <th>Notes</th>
                </tr>
                @foreach (var item in Model.Assignments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.TicketDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompletionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TechID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
